.hidden {
	display: none;
}
.node:hover {
	cursor: pointer;
}
.node circle {
	fill: #000;
	stroke: steelblue;
	stroke-width: 3px;
}
.node.expanded circle {
	fill: #fff !important;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}
